@import "_fonts";
@import "_functions";
@import "_mixins";

// COLORS
$black: #000;
$white: #F7F9F7;
$gray: #D9D9D9;
$purple: #4E148C;
$lavender: #858AE3;
$light-lavender: #E8EBF2;

// FONTS
$inter: "Inter-Regular";
$inter-m: "Inter-Medium";
$inter-b: "Inter-Bold";